// Body
$body-bg: #0c0009;

// Typography
$font-family-sans-serif: 'Source Code Pro', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark: #0c0009;
$secondary: #d54040;
$purple: #8a15ff;
$blue: #3800e7;
$ltblue: #15e0ff;
$magenta: #d000c5;
