option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 256M
    zlib.output_compression: "Off"
    allow_url_fopen: "On"
    display_errors: "Off"
    max_execution_time: 60
    composer_options: --optimize-autoloader

commands:
  01_install_composer:
    command: "curl -sS https://getcomposer.org/installer | php"
    cwd: /usr/local/bin
    test: "[ ! -f /usr/local/bin/composer ]"

container_commands:
  01_storage_permissions:
    command: |
      chmod -R 775 storage
      chmod -R 775 bootstrap/cache
  02_run_migrations:
    command: "php artisan migrate --force"
    leader_only: true
  03_clear_cache:
    command: |
      php artisan config:clear
      php artisan cache:clear
      php artisan view:clear
  04_optimize:
    command: |
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache
